---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h3>Ongoing academic and industry projects (last updated Feb 2021):</h3>

<ul>
  <li>Large-scale physiological testing online</li>
  <li>Low-cost open source multimodal data aquisition systems </li>
  <li>Machine learning models for predicting post-surgical complications</li>
  <li>Clinically operable machine learning models for post-surgical outcomes</li>
  <li>Principal components analysis for characterizing post-TAVR surgical outcomes</li>
  <li>AI-based diagnostic and predictive tools for surgical outcomes</li>
  <li>Automation of calcification scoring from non-contrast and contrast-enhanced CT images</li>
  <li>Deep convolutional neural networks in classification of MRI/CT/Doppler images</li>
  <li>Finite element modelling and lumped-paramter modelling in transcatheter aortic valve replacement </li>
  <li>Modelling of the cerebro- and cardio- vascular systems during microgravity and on Mars</li> 
  <li>Deep learning for segementation and calcificaiton scoring of aortic stenosis</li>
  <li>CLSA: repeated double cross validated feature selection </li>
  <li>Stepwise feature selection comparison to data reduction methods </li>
  <li>Repeated nested double cross validation vs regular cross validation for vascualar interventions </li>
</ul> 


<h3>Get <a href="https://www.researchonline.ca" target="_blank">notified</a> for when we launch our large-scale physiological testing platform.</h3> 


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

