---
layout: archive
#title: "Research"
permalink: /research/
author_profile: true
---
<h2>Research assistant (2017-2021)</h2>
<h3>Developing non-invasive computational-mechanics and imaging-based diagnostic framework for personalized cardiology for coarctation of aorta disease::</h3>
<ul>
  <li>Using FVM-based solver (OpenFoam) and LBM-based solver (OpenLB) to model turbulent and transitional flow in large arteries.</li>
  <li>Using Smagorinsky LES family models to model blood flow. </li>
  <li>Performing advanced medical imaging codes and techniques to segment and reconstruct CT and MRI Images.</li>
  <li>Integrate CFD solver with 4D Flow magnetic resonance imaging MATLAB tool.</li>
  <li>Verifying the computational tool with Taylor-Green vortex and turbulent cavity flow CFD benchmarks.</li>
  <li>Comparing and validating the computational tool with available personalized 4D flow data, Echocardiography data, Catheter pressure drop data and particle image velocimetry data (PIV)</li>
</ul> 



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

