---
layout: archive
title: "Teaching/Guest lectures"
permalink: /teaching/
author_profile: true
---
  <p> </p>
	<h3>Research Methods and Statistics</h3>
	<u>
	   <li>course code: 2820E</li>
	   <li>level: 2nd year undergraduate</li>
	   <li>term: Fall+Winter</li>
	</u>
	

	<p> </p>
	<h3>Integrated Cornerstone Design Projects in Engineering</h3>
	<u>
	   <li>course code: ENG 1P13</li>
	   <li>level: 1st year undergrad</li>
	   <li>term: Fall 2020</li>
	</u>
	

	<p> </p>
	<h3>Cardiovascular: Physiology of excercise</h3>
	<u>
	   <li>course code: PHARM 442A</li>
	   <li>level: 4th year undergrad</li>
	   <li>term: Fall 2019</li>
	</u>
	

	<p> </p>
	<h3>Cardiovascular Disease: Pathophysiology & Rehabilitation</h3>
	<u>
	   <li>course code: KIN 4B03</li>
	   <li>level: 4th year undergrad</li>
	   <li>term: Fall 2020</li>
	</u>
	

	<p> </p>
	<h3>Biofluid Mechanics Systems</h3>
	<u>
	   <li>course code: MECHENG 4BF3</li>
	   <li>level: 4th year undergrad</li>
	   <li>term: Winter 2021</li>
	</u>




{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
